@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Rochester&display=swap");

body {
  overflow-x: hidden;
}

.navBar-bg {
  background-color: black;
  color: white;
  margin: 0px 10px 20px 10px;
  border-radius: 10px;
}

.colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.iconBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem;
}

.iconFA {
  width: 2rem;
  height: 2rem;
  color: black;
}

.outerImage {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 900px;
}

.innerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Opening Word Start */
.OpeningWord-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.topflower-size {
  width: 15rem;
  height: 6rem;
  margin-right: 1rem;
}

.OpeningWord-size {
  max-width: 400px;
}

.OpeningTitle {
  font-family: "Rochester", cursive;
  font-size: 2rem;
}

.OpeningContent {
  font-family: "Bellefair", serif;
  font-size: 1rem;
}
/* Opening Word End */

/* Groom Bride Start */
.GroomBride-layout {
  padding: 2rem;
}

.AnG-size {
  width: 7rem;
  height: 7rem;
  animation: zoom-in-zoom-out 2.2s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.groomandbride-tobe {
  font-family: "Rochester", cursive;
  font-size: 3rem;
  text-align: center;
}

.groomandbride-area {
  display: flex;
  flex-direction: row;
}

.groomphoto-size,
.bridephoto-size {
  width: 23rem;
  height: 23rem;
}

.groomword-area,
.brideword-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  z-index: 10;
}

.brideword-area {
  margin-top: 0rem;
}

.groom-name,
.bride-name {
  font-family: "Rochester", cursive;
  font-size: 2.2rem;
  text-align: center;
  max-width: 20rem;
}

.groom-parents,
.bride-parents {
  font-family: "Bellefair", serif;
  font-size: 1rem;
  text-align: center;
}

.name-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rochester", cursive;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: -1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  z-index: 10;
}
/* Groom Bride End */

/* Event Date Start */
.EventDate-layout {
  padding: 2rem;
}

.eventdate-title {
  text-align: center;
}

.eventdate-title-image {
  max-width: 40%;
}

.eventdate-content {
  font-family: "Bellefair", serif;
  font-size: 1.2rem;
  text-align: center;
}

.eventdate-layout {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.eventdate-eacharea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  background-color: aquamarine;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 20%;

  font-family: "Bellefair", serif;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
}

.eventdate-info {
  font-family: "Bellefair", serif;
  font-size: 1.5rem;
  text-align: center;
}
/* Event Date End */

@media screen and (max-width: 768px) {
  .navBar-bg {
    margin: 0px 5px 10px 5px;
    border-radius: 5px;
  }

  .colCenter {
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 0.5rem;
  }

  .iconBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    padding: 0.3rem;
  }

  .iconFA {
    width: 1rem;
    height: 1rem;
    color: black;
  }

  /* Opening Word Start */
  .OpeningWord-layout {
    flex-direction: column;
  }

  .OpeningWord-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .OpeningTitle {
    font-size: 3rem;
  }
  /* Opening Word End */

  /* Groom Bride Start */
  .groomandbride-area {
    flex-direction: column;
  }

  .brideword-area {
    margin-top: -2rem;
  }
  /* Groom Bride End */

  /* Event Date Start */
  .eventdate-eacharea {
    font-size: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .eventdate-info {
    font-size: 1rem;
  }
  /* Event Date End */
}
